.benefits {
  @include block();
  margin-top: 182px;

  @media (max-width: $screen_lg) {
    overflow: auto;
  }

  @media (max-width: $screen_md) {
    margin-top: 92px;
  }

  #{$cont} {
    max-width: 1024px;
  }

  &__block {
    position: relative;
    display: flex;

    @media (max-width: $screen_lg) {
      height: 280px;
    }
  }

  &__unit {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 7.5px;

    @media (max-width: $screen_lg) {
      padding: 0 10px 0 0;
    }

    &:nth-child(1) {
      width: 33.7%;

      @media (max-width: $screen_lg) {
        width: auto;
        min-width: 193px;
      }
    }

    &:nth-child(2) {
      flex: 1;
      padding-right: 202.5px;

      @media (max-width: $screen_lg) {
        flex: auto;
        min-width: 396px;
        padding-left: 193px;
        padding-right: 20px;
      }
    }
  }

  &__box {
    $box: &;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 30px 35px 30px 30px;
    width: 100%;

    @media (max-width: $screen_lg) {
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 16px;
    }

    &--registration {
      min-height: 156px;
      background-color: #EAE4FF;

      @media (max-width: $screen_lg) {
        min-height: auto;
      }
    }

    &--insurance {
      min-height: 178px;
      background-color: #E8FCEB;

      @media (max-width: $screen_lg) {
        min-height: auto;
      }

      #{$box}-title {
        @include image('insurance-green.svg', auto 24px, right);
        width: 100%;
        font-size: 30px;
        line-height: 120%;
        letter-spacing: 0.02em;

        @media (max-width: $screen_lg) {
          background-size: auto 16px;
        }
      }
    }

    &--import {
      min-height: 200px;
      background-color: #474A52;

      @media (max-width: $screen_lg) {
        position: absolute;
        width: 183px;
        top: 0;
        left: 0;
        height: auto;
      }

      #{$box}-title {
        font-size: 30px;
        line-height: 120%;
        color: #fff;
      }

      #{$box}-text {
        color: #fff;
      }
    }

    &--tracking {
      min-height: 134px;
      background-color: #C8B9FF;
      padding-right: 30px;

      @media (max-width: $screen_lg) {
        width: 100%;
        min-height: auto;
        padding-right: 16px;
      }

      #{$box}-title {
        @include image('tracking-purple.svg', auto 25px, right 1px center);
        width: 100%;

        @media (max-width: $screen_lg) {
          background-size: auto 14px;
        }
      }

      #{$box}-text a {
        font-size: inherit;
        line-height: inherit;
        text-decoration: none;
        color: #6250E5;
      }
    }

    &--timing {
      position: absolute;
      justify-content: center;
      width: 180px;
      min-height: 349px;
      right: 7.5px;
      top: 0;
      background-color: #97E7A4;
      border-radius: 1000px;
      padding: 40px;

      @media (max-width: $screen_lg) {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        min-height: auto;
        padding: 16px;
        border-radius: 10px;
      }

      #{$box}-title {
        font-size: 20px;
        line-height: 26px;
      }
    }

    &-title {
      @include block();
      margin-bottom: 10px;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_lg) {
        font-size: 16px !important;
        line-height: 22px !important;
      }
    }

    &-text {
      @include block();
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_lg) {
        font-size: 12px !important;
        line-height: 16px !important;
      }
    }

    &-link {
      @include image('arrow-green.svg', auto 100%, right);
      position: relative;
      display: inline-flex;
      align-items: center;
      margin-top: 5px;
      padding-right: 20px;
      min-height: 16px;
      font-size: 14px;
      line-height: 18px;
      color: #67E17A;
      letter-spacing: 0.02em;
      text-decoration: none;
      cursor: pointer;

      @media (max-width: $screen_lg) {
        font-size: 12px;
        line-height: 16px;
        padding-right: 18px;
        background-size: auto 16px;
      }
    }

    &-list {
      @include flex();
      margin-top: 10px;

      @media (max-width: $screen_lg) {
        margin-top: 0;
      }

      li {
        @include block();

        &:first-child {
          border-right: 1px solid #D3D5D9;
          padding-right: 20px;

          @media (max-width: $screen_lg) {
            padding-right: 8px;
          }
        }

        &:last-child {
          padding-left: 20px;

          @media (max-width: $screen_lg) {
            padding-left: 8px;
          }
        }
      }

      span {
        @include block();
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;

        @media (max-width: $screen_lg) {
          font-size: 12px;
          line-height: 16px;
        }
      }

      b {
        @include block();
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.02em;

        @media (max-width: $screen_lg) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}
