.logo {
  @include image('logo.svg', content, center);
  width: 120px;
  height: 40px;

  @media (max-width: $screen_lg) {
    width: 72px;
    height: 27px;
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 3px 48px 0 48px;
  border-radius: 1000px;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  transition: border-color $time;

  @media (max-width: $screen_lg) {
    height: 50px;
    padding: 3px 30px 0 30px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
  }
}
