.title {
  @include block();

  h1, h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &--middle {
    h1, h2 {
      font-weight: 400;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: 0.02em;
  
      @media (max-width: $screen_md) {
        font-size: 20px;
      }
    }
  }

  &--big {
    h1, h2 {
      font-weight: 500;
      font-size: 40px;
      line-height: 48px;

      @media (max-width: $screen_md) {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
      }
    }
  }

  &--center {
    h1, h2 {
      text-align: center;
    }
  }
}

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding: 0 20px;
  border: none;
  border-radius: 10px;
  background-color: $color_dark;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  transition: background-color $time;

  span {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  &:hover {
    background-color: #343536;
  }

  &--min {
    height: 36px;
  }

  &--empty {
    background-color: transparent;
    border: 1px solid #BDC0C6;
    color: $color_dark;

    &:hover {
      background-color: #F1F2F3;
    }
  }

  &--edit {
    @include image('editing-dark.svg', auto 16px, left 20px center);
    background-color: transparent;
    border: 1px solid #BDC0C6;
    color: $color_dark;
    padding: 0 18px 0 42px;

    span {
      &:nth-child(1) {
        @media (max-width: $screen_md) {
          display: none;
        } 
      }

      &:nth-child(2) {
        display: none;

        @media (max-width: $screen_md) {
          display: block;
        }
      }
    }

    &:hover {
      background-color: #F1F2F3;
    }
  }
}

.countries {
  @include block();
  border: 1px solid #E4E4E7;
  border-radius: 10px;

  li {
    @include block();

    a {
      @include flex();
      align-items: center;
      justify-content: space-between;
      min-height: 53px;
      padding: 0 19px 0 16px;
      text-decoration: none;

      @media (max-width: $screen_md) {
        min-height: 41px;
      }
    }

    &:not(:last-child) {
      border-bottom: 1px solid #E4E4E7;
    }
  }

  &__title {
    @include flex();

    img {
      position: relative;
      width: 18px;
      height: 18px;
      margin-right: 8px;
      border-radius: 1000px;

      @media (max-width: $screen_md) {
        width: 14px;
        height: 14px;
      }
    }

    span {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  &__price {
    @include image('arrow-gray.svg', auto 100%, right);
    @include flex();
    align-items: center;
    height: 16px;
    padding-right: 20px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      height: 14px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.textBox {
  @include block();

  h2 {
    margin: 60px 0 10px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      margin: 40px 0 10px 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;

      &:first-child {
        margin-top: 11px;
      }
    }
  }

  h4 {
    margin: 31px 0 4px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      margin: 20px 0 4px 0;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
    }

    &.withoutIndent {
      margin-top: 10px;
    }
  }

  p {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  ul {
    @include block();

    li {
      @include block();
      margin-bottom: 6px;
      padding-left: 22px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        margin-bottom: 0;
        padding-left: 18px;
        font-size: 12px;
        line-height: 16px;
      }

      &:before {
        position: absolute;
        top: 6px;
        left: 9px;
        width: 3px;
        height: 3px;
        border-radius: 100px;
        background-color: $color_dark;
        content: '';

        @media (max-width: $screen_md) {
          top: 6px;
          left: 8px;
          width: 2px;
          height: 2px;
        }
      }
    }
  }
}

.limits {
  @include block();
  margin-top: 29px;

  @media (max-width: $screen_md) {
    margin-top: 20px;
  }

  &__tab {
    $tab: &;
    @include flex();
    flex-direction: column;
    width: 100%;
    max-width: 603px;

    @media (max-width: $screen_md) {
      display: block;
      width: auto;
      max-width: none;
      border-top: 1px solid #E4E4E7;
    }

    &-row {
      @include flex();
      align-items: center;
      min-height: 34px;

      @media (max-width: $screen_md) {
        display: block;
        min-height: auto;
        padding-bottom: 15px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #E4E4E7;
      }

      &--head {
        min-height: auto;
        padding-bottom: 2px;
        border-bottom: none !important;

        @media (max-width: $screen_md) {
          display: none;
        }

        #{$tab}-col {
          b {
            display: block;
          }
        }
      }
    }

    &-col {
      @include flex();
      align-items: center;

      &:nth-child(1) {
        width: 23.2%;

        @media (max-width: $screen_md) {
          min-height: 28px;
          width: auto;
          margin-top: 3px;
        }
      }

      &:nth-child(2) {
        width: 30%;

        @media (max-width: $screen_md) {
          display: block;
          width: auto;
          margin-bottom: 3px;

          span {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      &:nth-child(3) {
        width: 30%;

        @media (max-width: $screen_md) {
          display: block;
          width: auto;

          span {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      img {
        position: relative;
        width: 14px;
        height: 14px;
        margin-right: 8px;
        border-radius: 1000px;
      }

      b {
        display: none;
        position: relative;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #9296A0;

        @media (max-width: $screen_md) {
          display: block;
        }
      }

      span {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }
  }

  &__info {
    @include block();
    margin-top: 8px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      margin-top: 5px;
    }
  }
}

.inputMultilevel {
  $mult: &;
  @include flex();
  margin: 0 -8px;

  @media (max-width: $screen_xs) {
    flex-wrap: wrap;
  }

  &__unit {
    position: relative;
    flex: 1;
    padding: 0 8px;

    @media (max-width: $screen_xs) {
      flex: auto;

      &:nth-child(1) {
        width: 50%;
      }

      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(3) {
        width: 100%;
      }
    }
  }

  &--double {
    #{$mult}__unit {
      @media (max-width: $screen_xs) {
        &:nth-child(1) {
          width: 100%;
        }
  
        &:nth-child(2) {
          width: 100%;
        }
      }
    }
  }
}

.inputBox {
  @include block();

  &__title {
    @include block();
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  &__value {
    @include block();
    width: 100%;
    height: 36px;
    background-color: #fff;
    border: 1px solid #D3D5D9;
    border-radius: 10px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;

    &.input-calendar {
      @include image('calendar-gray.svg', 18px auto, right 16px center);
      padding-right: 47px;
    }
  }

  &--nif {
    max-width: 170px;

    @media (max-width: $screen_xs) {
      max-width: none;
    }
  }

  &--half {
    width: 50%;

    @media (max-width: $screen_xs) {
      width: auto;
    }
  }
}

.inputUnit {
  @include block();

  &__title {
    @include block();
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    user-select: none;
  }

  &__block {
    @include flex();
  }

  &__box {
    @include flex();
    flex-direction: column;
    justify-content: center;

    &:nth-child(2) {
      padding-left: 8px;
    }
  }

  &__value {
    @include block();
    width: 78px;
    height: 36px;
    padding: 0 35px 0 16px;
    background-color: #fff;
    border: 1px solid #D3D5D9;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  &__inf {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    height: 100%;
    padding-right: 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #9296A0;
    user-select: none;
  }

  &__text {
    @include inline_block();
    letter-spacing: 0.02em;
    font-size: 14px;
    line-height: 18px;
    color: #9296A0;
    user-select: none;
  }
}

.informBox {
  @include block();
  border: 1px solid #E4E4E7;
  border-radius: 10px;
  margin-top: 20px;

  &__unit {
    @include block();

    &:not(:last-child) {
      border-bottom: 1px solid #E4E4E7;
    }
  }

  &__title {
    @include flex();
    align-items: center;
    justify-content: space-between;
    min-height: 36px;
    padding: 5px 18px 5px 16px;

    &-value {
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &-button {
      @include image('arrow-purple.svg', auto 12px, right 0 center);
      @include flex();
      align-items: center;
      padding-right: 16px;
      min-height: 18px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #6250E5;
      cursor: pointer;
    }
  }

  &__message {
    position: relative;
    display: none;
    margin-top: -2px;
    padding: 0 0 8px 32px;

    &-name {
      @include block();
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }

    &-link {
      @include block();
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #6250E5;
      cursor: pointer;
    }

    &--warning {
      @include image('warning-orange.svg', auto 12px, 16px 2px);
    }

    &.active {
      display: block;
    }
  }
}

.checkBox {
  @include block();

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;

    & + label {
      @include inline_block();
      min-height: 16px;
      padding-left: 23px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #333;
      cursor: pointer;
      user-select: none;

      &:before {
        position: absolute;
        top: -1px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: #18191B;
        border-radius: 4px;
        content: '';
      }

      &:after {
        @include image('chek-white.svg', 10px auto, center);
        position: absolute;
        top: -1px;
        left: 0;
        width: 16px;
        height: 16px;
        content: '';
        opacity: 0;
      }
    }

    &:checked {
      & + label {
        &:after {
          opacity: 1;
        }
      }
    }
  }

  a {
    @include inline_block();
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #6250E5;

    &:hover {
      text-decoration: underline;
    }
  }

  &--empty {
    input {
      & + label {
        &:before, &:after {
          width: 14px;
          height: 14px;
        }
  
        &:before {
          background-color: transparent;
          border: 1px solid #BDC0C6;
        }
  
        &:after {
          @include image('chek-green.svg', 12px auto, left 2px top 4px);
        }
      }

      &:checked {
        & + label {
          &:before {
            border: 1px solid transparent;
          }
        }
      }
    }
  }
}

.tracking {
  @include block();

  &__title {
    @include block();
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  &__list {
    @include block();
    margin: 14px 0 0 5px;

    li {
      @include block();
      padding-left: 15px;
      border-left: 1px solid transparent;

      &:before {
        position: absolute;
        top: -2px;
        left: -5px;
        width: 8px;
        height: 8px;
        border-radius: 100px;
        content: '';
        background-color: #fff;
        border: 1px solid #18191B;
        box-shadow: 0 0 0 2px #fff;
      }

      span {
        position: relative;
        top: -5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
      }

      &:not(:last-child) {
        border-left-color: #18191B;
        padding-bottom: 10px;
      }

      &.passed {
        border-left-color: #67E17A;

        &:before {
          border-color: #67E17A;
        }
      }
      
      &.active {
        &:before {
          background-color: #67E17A;
          border-color: #67E17A;
        }
      }
    }
  }
}

.price {
  @include block();

  &__title {
    @include block();
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  &__info {
    @include block();
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.02em;
    color: #9296A0;
  }

  &__list {
    @include block();
    margin-top: 10px;

    li {
      @include flex();
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    span {
      position: relative;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }

  &__overweight {
    @include image('question-gray.svg', contain, center);
    @include inline_block();
    top: 2px;
    margin-left: 4px;
    width: 12px;
    height: 12px;
    cursor: pointer;
    text-decoration: none;
  }

  &__total {
    @include block();
    border-top: 1px solid #E4E4E7;
    margin-top: 10px;
    padding-top: 10px;

    li {
      @include flex();
      align-items: center;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }

    span {
      position: relative;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }
  }
}

.waybill {
  @include block();
  width: 100%;

  &__title {
    @include block();
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
  }

  &__block {
    @include block();
    margin-top: 9px;
  }

  &__box {
    @include flex();
    align-items: flex-start;
    justify-content: space-between;
  }

  &__cont {
    $cont: &;
    @include inline_block();
    padding-left: 42px;

    &:before, &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      content: '';
      border-radius: 10px;
    }

    &-name {
      @include block();
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }

    &-info {
      @include block();
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9296A0;
    }

    &--doc {
      &:before {
        background-color: #EAE4FF;
      }
  
      &:after {
        @include image('doc-purple.svg', 13px auto, center);
      }
    }
  }

  &__download {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #6250E5;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #9E91FB;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-color-green {
  color: #67E17A;
}

.text-color-greenDark {
  color: #40C855;
}
