.hFooter {
  height: $footer_height;

  @media (max-width: $screen_md) {
    height: $footer_height_mobile;
  }
}

.footer {
  $footer: &;
  @include block();
  height: $footer_height;
  margin-top: -$footer_height;

  @media (max-width: $screen_md) {
    height: $footer_height_mobile;
    margin-top: -$footer_height_mobile;
  }

  #{$cont} {
    max-width: $width_big;
  }

  &__row {
    @include flex();
    padding-top: 40px;

    @media (max-width: $screen_md) {
      flex-direction: column;
      padding-top: 31px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #E4E4E7;
      content: '';

      @media (max-width: $screen_md) {
        left: -$side_mobile;
        right: -$side_mobile;
      }
    }
  }

  &__col {
    position: relative;
    display: flex;
    flex: 1;

    @media (max-width: $screen_md) {
      flex-direction: column;
      flex: auto;
      width: 100%;
    }

    &:nth-child(1) {
      flex-direction: column;
    }

    &:nth-child(2) {
      justify-content: flex-end;
    }
  }

  &__logo {
    @include block();
    @include image('logo.svg', content, center);
    width: 130px;
    height: 17px;
  }

  &__copyright {
    @include block();
    margin-top: 9px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #9296A0;
  }

  &__menu {
    @include block();

    &:nth-child(1) {
      width: 180px;
      margin-right: 103px;

      @media (max-width: $screen_xl) {
        width: 140px;
        margin-right: 0;
      }

      @media (max-width: $screen_md) {
        width: auto;
        margin-top: 20px;
      }
    }

    &:nth-child(2) {
      width: 200px;
      margin-right: 17px;

      @media (max-width: $screen_md) {
        width: auto;
        margin-right: 0;
        margin-top: 17px;
        order: 1;
      }
    }

    &:nth-child(3) {
      width: 181px;

      @media (max-width: $screen_xl) {
        width: 140px;
      }

      @media (max-width: $screen_md) {
        width: auto;
        margin-top: 17px;
      }
    }

    &-title {
      @include block();
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }

    &-list {
      @include block();

      li {
        @include block();
        margin: 4px 0;
      }

      a {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &-phone {
    @include image('phone-dark.svg', auto 9px, left center);
    padding-left: 12px;
  }

  &-email {
    @include image('email-dark.svg', auto 6px, left center);
    padding-left: 12px;
  }
}
