.header {
  $header: &;
  @include block();
  z-index: 100;

  #{$cont} {
    max-width: $width_big;
  }

  &__row {
    @include flex();
    min-height: $header_height;
    align-items: center;

    @media (max-width: $screen_md) {
      flex-wrap: wrap;
      min-height: auto;
    }
  }

  &__col {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;

    .button {
      white-space: nowrap;

      @media (max-width: $screen_md) {
        width: 24px;
        height: 24px;
        padding: 0;
        border-radius: 6px;
        overflow: hidden;
        color: transparent;

        &:before {
          @include image('plus-white.svg', content, center);
          position: absolute;
          width: 12px;
          height: 12px;
          top: 50%;
          left: 50%;
          margin: -6px 0 0 -6px;
          content: '';
        }
      }
    } 

    &:nth-child(1) {
      @media (max-width: $screen_md) {
        width: 50%;
        flex: auto;
        padding: 10px 0;
      }
    }

    &:nth-child(2) {
      justify-content: center;
      padding-right: 5px;

      @media (max-width: $screen_md) {
        width: 100%;
        flex: auto;
        justify-content: flex-start;
        padding-right: 0;
        order: 1;
      }
    }

    &:nth-child(3) {
      justify-content: flex-end;

      @media (max-width: $screen_md) {
        width: 50%;
        flex: auto;
        padding: 10px 0;
      }
    }
  }

  &__logo {
    @include block();
    @include image('logo.svg', content, center);
    width: 130px;
    height: 17px;
  
    @media (max-width: $screen_md) {
      width: 109px;
      height: 14px;
    }
  }

  &__menu {
    @include block();

    @media (max-width: $screen_md) {
      width: calc(100% + 40px);
      margin-left: -$side_mobile;
      margin-right: -$side_mobile;
      padding: 0 $side_mobile;
      background-color: #F1F2F3;
    }

    li {
      @include inline_block();
      margin: 0 8px;

      @media (max-width: $screen_md) {
        margin: 0 16px 0 0;
      }
    }

    a {
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-decoration: none;

      @media (max-width: $screen_md) {
        display: inline-flex;
        align-items: center;
        min-height: 25px;
        font-size: 12px;
        line-height: 16px;
      }

      &:hover {
        text-decoration: underline;
      }

      &.active {
        font-weight: 700;
      }
    }
  }

  &__entrans {
    @include image('entrance-gray.svg', auto 16px, left 8px center);
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 26px;
    padding: 0 8px 0 33px;
    margin-right: 29px;
    border-radius: 6px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: background-color $time;

    @media (max-width: $screen_lg) {
      margin-right: 15px;
    }

    @media (max-width: $screen_md) {
      @include image('entrance-dark.svg', auto 12px, center);
      width: 24px;
      height: 24px;
      padding: 0;
      margin-right: 6px;
      overflow: hidden;
      color: transparent;
      border: 1px solid #BDC0C6;
    }

    &:hover {
      background-color: #F1F2F3;
    }
  }

  &--border {
    #{$header}__row {
      box-shadow: 0 1px 0 0 #E4E4E7;

      @media (max-width: $screen_md) {
        box-shadow: none;
      }
    }
  }
}
