.howWorks {
  @include block();
  margin-top: 150px;

  @media (max-width: $screen_md) {
    margin-top: 77px;
  }

  #{$cont} {
    max-width: 1153px;
  }

  .title {
    h1, h2 {
      @media (max-width: $screen_xs) {
        text-align: left;
      }
    }
  }

  &__block {
    @include flex();
    justify-content: space-between;
    margin-top: -55px;
    left: -42px;

    @media (max-width: 1260px) {
      width: 780px;
      margin: -60px auto 0 auto;
      left: auto;
    }

    @media (max-width: $screen_lg) {
      width: 640px;
    }

    @media (max-width: $screen_md) {
      @include image('how-works-mobile.svg', auto 345px, 0 0);
      display: block;
      width: 300px;
      min-height: 345px;
      margin: 24px auto 0 auto;
      padding-left: 50px;
    }

    @media (max-width: $screen_xs) {
      width: 280px;
      margin: 24px 0 0 0;
    }

    &:before {
      @include image('how-works.svg', 100% auto, center);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      content: '';

      @media (max-width: $screen_md) {
        display: none;
      }
    }
  }

  &__box {
    $box: &;
    position: relative;

    @media (max-width: $screen_md) {
      display: block;
      margin-bottom: 30px;
    }

    &:nth-child(1) {
      margin-top: 95px;
      left: 17px;

      @media (max-width: 1260px) {
        width: 180px;
        margin-top: 120px;
        left: auto;
      }

      @media (max-width: $screen_md) {
        width: auto;
        margin-top: 0;
      }

      #{$box}-title, #{$box}-cont {
        width: 280px;

        @media (max-width: $screen_lg) {
          width: auto;
        }
      }
    }

    &:nth-child(2) {
      margin-top: 320px;
      left: 22px;

      @media (max-width: 1260px) {
        margin-top: 285px;
        left: 25px;
        width: 280px;
      }

      @media (max-width: $screen_lg) {
        margin-top: 260px;
      }

      @media (max-width: $screen_md) {
        margin-top: 0;
        left: auto;
        width: auto;
      }

      #{$box}-title {
        width: 280px;

        @media (max-width: 1260px) {
          width: auto;
        }
      }

      #{$box}-cont {
        width: 340px;

        @media (max-width: 1260px) {
          width: auto;
        }
      }
    }

    &:nth-child(3) {
      margin-top: 162px;
      left: 41px;

      @media (max-width: 1260px) {
        left: 45px;
      }

      @media (max-width: $screen_md) {
        margin-top: 0;
        left: auto;
      }

      #{$box}-title {
        width: 120px;
      }
    }

    &-title {
      @include block();
      margin-bottom: 8px;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &-cont {
      @include block();
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &-info {
      @include inline_block();
      padding: 2px 8px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      background-color: #E8FCEB;
      border-radius: 10px;

      @media (max-width: $screen_md) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
