.orderPage {
  $order: &;
  @include block();

  #{$cont} {
    max-width: $width_big;
    padding: 0 $side 0 245px;
  }

  &__back {
    position: absolute;
    top: 45px;
    left: $side;

    @media (max-width: $screen_xl) {
      @include block();
      top: auto;
      left: auto;
    }

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      min-height: 12px;
      padding-left: 17px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:before {
        @include image('arrow-dark.svg', contain, center);
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 100%;
        content: '';
        transform: rotate(180deg);
      }
    }
  }

  &__side {
    @include flex();
    width: 100%;
    min-height: calc(100vh - 68px);

    &-box {
      @include flex();
      flex-direction: column;
      align-items: flex-start;

      &:nth-child(1) {
        flex: 1;
        padding: 45px 137px 50px 0;
      }

      &:nth-child(2) {
        width: 334px;
        padding: 45px 0 50px 30px;
        border-left: 1px solid #E4E4E7;
      }
    }
  }

  &__title {
    @include flex();
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__cancel {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FD7272;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__block {
    @include block();
    width: 100%;
  }

  &__box {
    @include block();
    padding: 36px 0 35px 0;
    
    &:not(:last-child) {
      border-bottom: 1px solid #E4E4E7;
    }
  }

  &__name {
    @include flex();
    align-items: center;
    justify-content: flex-start;

    b {
      @include flex();
      align-items: center;
      justify-content: center;
      width: 21px;
      height: 20px;
      padding: 1px 0 0 1px;
      margin-right: 10px;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #fff;
      cursor: pointer;
    }

    span {
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &--package {
      b {
        @include image('package-dark.svg', 18px auto, left 1px center);
      }
    }

    &--from {
      b {
        @include image('point-purple.svg', contain, center);
      }
    }

    &--to {
      b {
        @include image('point-green.svg', contain, center);
      }
    }
  }

  &__listData {
    @include block();
    margin: 10px 0 0 32px;

    li {
      @include block();
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;

      &:not(:last-child) {
        margin-bottom: 6px;
      }  
    }
  }

  &__table {
    @include flex();
    margin: 12px 0 0 32px;

    &-td {
      @include flex();
      padding-right: 10px;
      flex-direction: column;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9296A0;

      span {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }

      b {
        display: none;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #9296A0;
      }

      &:nth-child(1) {
        flex: 1;
      }

      &:nth-child(2) {
        align-items: flex-end;
        width: 63px;
      }

      &:nth-child(3) {
        align-items: flex-end;
        width: 71px;
      }

      &:nth-child(4) {
        align-items: flex-end;
        width: 63px;
      }
    }

    &-img {
      @include block();
      width: 100%;
      height: 134px;
      cursor: pointer;

      img {
        @include block();
        width: 100%;
        border-radius: 10px;
      }
    }

    &-box {
      @include flex();
      flex-direction: column;

      &:nth-child(1) {
        flex: 1;
        padding-right: 14px;
      }

      &:nth-child(2) {
        width: 175px;
      }
    }

    &-head, &-body {
      @include flex();
      margin-bottom: 4px;
    } 
  }

  .receptionPoint {
    &__box {
      &:nth-child(1) {
        padding-right: 20px;
      }
    }

    &__kod-title {
      padding-right: 0;
    }
  }

  .tracking {
    margin-top: 42px;
  }

  .price {
    margin-top: 52px;
  }

  .waybill {
    margin-top: 42px;
  }
}
