.parcel {
  @include block();
  padding: 45px 0 100px 0;

  @media (max-width: $screen_xl) {
    padding-top: 30px;
  }

  @media (max-width: $screen_xs) {
    padding-bottom: 40px;
  }

  #{$cont} {
    max-width: $width_big;
    padding: 0 100px;

    @media (max-width: $screen_xl) {
      padding: 0 $side;
    }
  }

  &__side {
    $side: &;
    @include flex();
    width: 100%;
    max-width: 815px;
    margin: 0 auto;

    @media (max-width: $screen_xl) {
      margin-top: 20px;
      max-width: none;
    }

    @media (max-width: $screen_md) {
      flex-direction: column;
    }

    &-box {
      @include flex();
      flex-direction: column;
      align-items: flex-start;

      &:nth-child(1) {
        width: 100%;
        max-width: 447px;

        @media (max-width: $screen_md) {
          max-width: none;
        }
      }

      &:nth-child(2) {
        flex: 1;
        padding: 106px 0 0 68px;

        @media (max-width: $screen_xl) {
          padding: 80px 0 0 40px;
        }

        @media (max-width: $screen_md) {
          flex: auto;
          padding: 0;
        }
      }
    }

    &-head {
      @include block();
      width: 100%;
      margin-bottom: 36px;
    }

    &-unit {
      position: relative;
      width: 50%;

      @media (max-width: $screen_md) {
        width: 100%;
      }

      &--left {
        padding-right: 68px;

        @media (max-width: 1200px) {
          padding-right: 20px;
        } 

        @media (max-width: $screen_md) {
          padding-right: 0;
          margin-bottom: 36px;
        }
      }

      &--right {
        padding-left: 68px;

        @media (max-width: 1200px) {
          padding-left: 20px;
        } 

        @media (max-width: $screen_md) {
          padding-left: 0;
        }
      }
    }

    &-send {
      @include flex();
      width: 100%;
      z-index: 10;
    }

    &--wide {
      flex-wrap: wrap;
      max-width: 1030px;
      margin-left: 31px;
      top: -10px;

      @media (max-width: $screen_xl) {
        max-width: none;
        margin-left: 0;
        top: 0;
      }

      @media (max-width: $screen_md) {
        padding-bottom: 160px;
      } 

      @media (max-width: $screen_xs) {
        padding-bottom: 230px;
      } 
    }
  }

  &__back {
    position: absolute;
    top: 0;
    left: $side;

    @media (max-width: $screen_xl) {
      @include block();
      top: auto;
      left: auto;
    }

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      min-height: 12px;
      padding-left: 17px;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:before {
        @include image('arrow-dark.svg', contain, center);
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 100%;
        content: '';
        transform: rotate(180deg);
      }
    }
  }

  &__steps {
    @include block();
    width: 100%;
    margin-bottom: 36px;

    &-title {
      @include flex();

      li {
        @include inline_block();
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;

        &:first-child {
          margin-right: 10px;
        }
      }

      span {
        @include inline_block();
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
      }
    }

    &-block {
      @include flex();
      margin: 6px -2px 0 -2px;
    }

    &-box {
      @include block();
      flex: 1;
      height: 4px;
      background-color: #F1F2F3;
      border-radius: 100px;
      margin: 0 2px;

      &.active {
        background-color: #9E91FB;
      }
    }
  }

  &__block {
    @include block();
    width: 100%;
    margin-top: 10px;

    .inputBox {
      margin-bottom: 16px;
    }
  }

  &__approximatePrice {
    $ap: &;
    @include block();
    width: 100%;
    max-width: 450px;
    border: 1px solid #67E17A;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 24px 24px 22px 24px;

    @media (max-width: $screen_md) {
      margin-top: 36px;
    }

    @media (max-width: $screen_xs) {
      width: 100%;
      min-width: auto;
      padding: 15px 0 0 42px;
      border-radius: 0;
      border: none;
      border-top: 1px solid #E4E4E7;
    }

    &-icon {
      @include image('approximate-price.svg', contain, center);
      @include block();
      width: 64px;
      height: 52px;
      margin-bottom: 8px;

      @media (max-width: $screen_xs) {
        position: absolute;
        top: 10px;
        left: 0;
        width: 32px;
        height: 26px;
      }
    }

    &-title {
      @include flex();
      align-items: flex-end;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_xs) {
        margin-bottom: 9px;
        font-size: 12px;
        line-height: 16px;
      }

      b {
        position: relative;
        top: 2px;
        margin-left: 4px;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.02em;

        @media (max-width: $screen_xs) {
          top: auto;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    &-info {
      @include flex();
      margin-top: 4px;
      align-items: flex-end;
      justify-content: space-between;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;

      b {
        position: relative;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }

    &-text {
      @include block();
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9296A0;
    }

    &--info {
      #{$ap}-icon {
        margin-bottom: 16px;
      }
    }
  }

  &__checkSending {
    @include block();
    width: 100%;
    max-width: 450px;
    margin-top: 16px;
    background-color: #EAE4FF;
    border-radius: 20px;
    padding: 24px 26px 24px 24px;

    @media (max-width: $screen_md) {
      margin-top: 36px;
      border-radius: 10px;
    }

    &-title {
      @include block();
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &-list {
      @include block();
      margin-top: 10px;

      li {
        @include image('arrow-purple.svg', auto 12px, right);
        @include flex();
        justify-content: space-between;
        padding-right: 15px;
        min-height: 12px;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

        span {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.02em;
        }
      }

      &-link {
        cursor: pointer;

        &:hover {
          color: #6250E5;
        }
      }

      &-butt {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #6250E5;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__sendMenu {
    position: relative;
    display: inline-flex;
    background-color: #F1F2F3;
    border-radius: 10px;
    margin-top: 10px;
    padding: 2px;
    user-select: none;

    li {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 32px;
      padding: 0 16px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      border-radius: 8px;
      cursor: pointer;

      &.active {
        background-color: #9E91FB;
        color: #fff;
      }
    }
  }

  &__points {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    margin: 36px 0 16px 0;

    &.active {
      @include block();
      top: auto;
      height: auto;
      overflow: visible;
    }

    @media (max-width: $screen_md) {
      width: 100%;
    }
  }

  &__courier {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    overflow: hidden;
    margin: 10px 0 16px 0;

    &.active {
      @include block();
      top: auto;
      height: auto;
      overflow: visible;
    }

    &-info {
      @include block();

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #9296A0;
      }
    }

    &-block {
      @include flex();
      max-width: 372px;
      margin: 10px -8px 0 -8px;

      @media (max-width: $screen_xs) {
        display: block;
        max-width: 183px;
        margin: 10px 0 0 0;
      }
    }

    &-box {
      @include flex();
      flex: 1;
      flex-direction: column;
      margin: 0 8px;

      @media (max-width: $screen_xs) {
        display: block;
        margin: 0;

        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
  }

  &__pointsList {
    @include block();
    border: 1px solid #E4E4E7;
    border-radius: 10px;

    &-box {
      @include flex();
      justify-content: space-between;
      border-bottom: 1px solid #E4E4E7;
      padding: 15px 16px;

      @media (max-width: $screen_xs) {
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    &-side {
      position: relative;

      &:nth-child(2) {
        padding-left: 24px;

        @media (max-width: $screen_xs) {
          padding: 8px 0 0 0;
        }
      }
    }

    &-text {
      @include block();

      h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }

    &-list {
      @include flex();
      flex-wrap: wrap;
      margin-top: 8px;

      li {
        @include inline_block();
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #9296A0;

        &:not(:last-child) {
          margin-right: 4px;

          &:after {
            @include inline_block();
            font-size: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            color: inherit;
            content: ',';
          }
        }
      }
    }

    &-link {
      @include flex();
      align-items: center;
      min-height: 50px;
      padding: 16px;

      &-value {
        @include image('arrow-purple.svg', auto 12px, right);
        position: relative;
        display: inline-flex;
        align-items: center;
        min-height: 12px;
        padding-right: 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #6250E5;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__pointsMap {
    @include block();

    &-block {
      @include flex();
      justify-content: space-between;
      border: 1px solid #E4E4E7;
      border-radius: 10px;
      padding: 16px;

      @media (max-width: $screen_md) {
        display: block;
      }
    }

    &-side {
      @include flex();
      flex-direction: column;

      @media (max-width: $screen_md) {
        display: block;
      }

      &:nth-child(2) {
        padding-left: 20px;

        @media (max-width: $screen_md) {
          padding: 16px 0 0 0;
        }
      }
    }

    &-text {
      @include block();

      h4 {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }

    &-list {
      @include flex();
      flex-wrap: wrap;
      margin-top: 8px;

      li {
        @include inline_block();
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #9296A0;

        &:not(:last-child) {
          margin-right: 4px;

          &:after {
            @include inline_block();
            font-size: inherit;
            line-height: inherit;
            letter-spacing: inherit;
            color: inherit;
            content: ',';
          }
        }
      }
    }

    &-cont {
      @include block();
      width: 120px;
      height: 120px;

      @media (max-width: $screen_md) {
        width: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-button {
      @include block();
      margin-top: 10px;
    }
  }
  
  &__separatorText {
    @include block();
    margin: 36px 0 10px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;

    &--indentMin {
      margin-top: 20px;
    }
  }

  &__button {
    @include block();
    margin-top: 20px;

    @media (max-width: $screen_xs) {
      width: 100%;

      .button {
        width: 100%;
      }
    }
  }

  &__informer {
    @include block();
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 23px 24px;
    margin-top: 36px;

    @media (max-width: $screen_md) {
      font-size: 12px;
      line-height: 16px;
      border-radius: 10px;
      padding: 12px;
      margin-top: 10px;
    }

    &--green {
      border-color: #67E17A;
    }
  }

  &__dataInfo {
    @include block();
    max-width: 450px;

    @media (max-width: $screen_md) {
      max-width: none;
    }

    ul {
      @include block();

      li {
        @include block();
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;

        &:not(:last-child) {
          margin-bottom: 6px;
        }
      }
    }
  }

  &__title {
    h1, h2 {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        font-size: 18px;
        line-height: 130%;
      }
    }
  }

  &__send {
    @include flex();
    flex-wrap: wrap;
    width: 100%;
    margin-top: 36px;
    padding-top: 36px;
    border-top: 1px solid #E4E4E7;

    @media (max-width: $screen_md) {
      position: fixed;
      align-items: flex-start;
      bottom: 0;
      left: 0;
      padding: $side_mobile;
      background-color: #fff;
    }

    @media (max-width: $screen_xs) {
      min-height: 230px;
      padding-bottom: 0;
    }

    &-box {
      @include flex();
      flex-direction: column;
      justify-content: center;

      &:nth-child(2) {
        padding-left: 16px;

        @media (max-width: $screen_md) {
          order: 2;
          padding: 16px 0 0 0;
          width: 100%;
        }
      }

      &:nth-child(3) {
        margin: 0 0 0 auto;

        @media (max-width: $screen_md) {
          order: 1;
          min-height: 48px;
        }
      }

      &:nth-child(4) {
        flex: auto;
        width: 100%;
        padding-top: 16px;

        @media (max-width: $screen_md) {
          order: 4;
        }
      }

      .checkBox {
        margin-bottom: 8px;
      }
    }

    &-info {
      @include block();
      max-width: 300px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9296A0;
    }

    &--indentMin {
      margin-top: 20px;
    }
  }

  &__table {
    $tab: &;
    @include flex();
    flex-direction: column;
    margin-bottom: 16px;

    &-thing {
      display: none;
      margin: 6px 0 10px 0;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9296A0;

      @media (max-width: $screen_md) {
        @include block();
      }
    }

    &-box {
      @include flex();
      flex-wrap: wrap;

      @media (max-width: $screen_md) {
        margin-bottom: 16px;
      }

      &:nth-child(1) {
        width: 45%;

        @media (max-width: $screen_md) {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: 17%;

        @media (max-width: $screen_md) {
          width: 100%;
        }
      }

      &:nth-child(3) {
        width: 21%;

        @media (max-width: $screen_md) {
          width: 50%;
          padding-right: 8px;
        }
      }

      &:nth-child(4) {
        flex: 1;

        @media (max-width: $screen_md) {
          flex: auto;
          width: 50%;
          padding-left: 8px;
        }
      }
    }

    &-head {
      @include flex();

      @media (max-width: $screen_md) {
        display: none;
      }

      #{$tab}-box {
        min-height: 36px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #9296A0;
      }
    }

    &-body {
      @include flex();
      flex-direction: column;
      border: 1px solid #D3D5D9;
      border-radius: 10px;

      @media (max-width: $screen_md) {
        border: none;
        border-radius: 0;
      }
    }

    &-bodyBox {
      @include flex();

      @media (max-width: $screen_md) {
        flex-wrap: wrap;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #D3D5D9;

        @media (max-width: $screen_md) {
          border: none;
        }
      }

      #{$tab}-box {
        &:not(:nth-last-child(2)) {
          border-right: 1px solid #D3D5D9;

          @media (max-width: $screen_md) {
            border: none;
          }
        }
      }
    }

    &-foot {
      @include flex();
      padding-top: 10px;

      @media (max-width: $screen_md) {
        padding-top: 0;
      }
    }

    &-title {
      display: none;
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        @include block();
      }
    }

    &-input {
      @include block();
      width: 100%;

      &-value {
        @include block();
        width: 100%;
        min-height: 34px;
        padding: 0 30px 0 15px;
        background-color: transparent;
        border: none;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;

        @media (max-width: $screen_md) {
          border: 1px solid #D3D5D9;
          border-radius: 10px;
        }
      }

      &-top, &-bottom {
        position: absolute;
        right: 0;
        width: 18px;
        height: 50%;
        cursor: pointer;
        user-select: none;
      }

      &-top {
        @include image('triangle-top-darkGrey.svg', 8px auto, left 0 bottom 3px);
        top: 0;
      }

      &-bottom {
        @include image('triangle-bottom-gray.svg', 8px auto, left 0 top 3px);
        bottom: 0;
      }

      &-unit {
        position: absolute;
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
        right: 0;
        padding-right: 9px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #9296A0;
        user-select: none;
      }
    }

    &-close {
      @include image('close-grey.svg', contain, center);
      position: absolute;
      top: 50%;
      right: -20px;
      width: 14px;
      height: 14px;
      margin-top: -7px;
      border-radius: 1000px;
      cursor: pointer;
      z-index: 1;

      @media (max-width: $screen_md) {
        display: none;
      }
    }

    &-add {
      @include image('plus-purple.svg', 12px auto, left);
      position: relative;
      display: inline-flex;
      align-items: center;
      min-height: 16px;
      padding-left: 18px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #6250E5;
      cursor: pointer;
    }
  }

  &__infoBox {
    @include block();
    margin: -5px 0 13px 0;

    @media (max-width: $screen_md) {
      margin: 0 0 13px 0;
    }

    .parcel__info {
      margin-bottom: 36px;
    }
  }

  &__insurance {
    @include block();
    padding: 10px 16px 8px 16px;
    border: 1px solid #E4E4E7;
    border-radius: 10px;

    &-title {
      @include flex();
      justify-content: space-between;

      .checkBox {
        input + label {
          font-size: 14px;
          line-height: 18px;

          &:before, &:after {
            top: 0;
          }
        }
      }

      > b {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
      }
    }

    &-text {
      @include block();
      margin: 4px 0 0 24px;

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #9296A0;
      }
    }
  }

  &__info {
    @include block();
    background: rgba(253, 190, 114, 0.2);
    border-radius: 10px;
    padding: 9px 16px 9px 42px;

    &-title {
      @include block();
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
    }

    &-text {
      @include block();
      margin-top: 4px;

      p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #9296A0;
      }

      a {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #6250E5;

        @media (max-width: $screen_md) {
          display: block;
          margin-top: 5px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &--warning {
      @include image('warning-orange.svg', 16px auto, left 16px top 11px);
    }
  }
}
