.readyHelp {
  @include block();
  margin: 150px 0;

  &--indent {
    margin: 130px 0 150px 0;
  }
  
  @media (max-width: $screen_md) {
    margin: 78px 0 90px 0;
  }
  
  &__text {
    @include block();
    margin-top: 16px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__block {
    @include flex();

    @media (max-width: $screen_md) {
      display: block;
      max-width: 600px;
      margin: 0 auto;
    }
  }

  &__cont {
    @include flex();
    flex-direction: column;
    padding-top: 12px;
  }

  &__unit {
    @include flex();

    @media (max-width: $screen_md) {
      display: block;
    }
  }

  &__box {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 280px;
    min-height: 142px;
    padding: 30px;
    margin-left: 21px;
    border-radius: 20px;

    @media (max-width: $screen_xl) {
      min-width: 250px;
    }

    @media (max-width: $screen_lg) {
      min-width: 220px;
      padding: 20px;
    }

    @media (max-width: $screen_md) {
      width: 100%;
      min-height: 100px;
      padding: 16px;
      margin: 20px 0 0 0;
    }

    &-title {
      @include block();
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    &-email, &-call {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      margin: auto 0 0 0;
      padding: 0 42px 0 20px;
      border: 1px solid #BDC0C6;
      border-radius: 10px;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.02em;
      text-decoration: none;
    }

    &-email {
      @include image('email-empty-dark.svg', 14px auto, right 20px center);
    }

    &-call {
      @include image('phone-empty-dark.svg', 10px auto, right 22px center);
    }

    &--email {
      background-color: #EAE4FF;
    }

    &--call {
      background-color: #E8FCEB;
    }
  }
}
