.receptionPoint {
  $point: &;
  @include block();

  &__name {
    @include block();
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
    }
  }

  &__date {
    @include block();
    margin-top: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #9296A0;
    
    &--dark {
      color: $color_dark;
    }
  }

  &__link {
    @include inline_block();
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #6250E5;

    &:hover {
      text-decoration: underline;
    }
  }

  &__trackNumber {
    @include flex();
    align-items: center;
    width: 100%;
    min-height: 36px;
    margin: auto 0 0 0;
    background-color: #E8FCEB;
    border-radius: 10px;
    padding: 4px 16px 6px 16px;

    @media (max-width: $screen_xl) {
      margin-top: 16px;
    }

    span {
      @include image('copying-dark.svg', auto 12px, right);
      position: relative;
      display: inline-flex;
      align-items: center;
      padding: 1px 16px 0 0;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }

  &__info {
    @include block();
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;

    a {
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
      color: #6250E5;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    b {
      @include block();
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      letter-spacing: inherit;
    }
  }

  &__cont {
    @include flex();
    justify-content: space-between;
    margin-top: 20px;

    @media (max-width: $screen_md) {
      display: block;
    }
  }

  &__box {
    position: relative;

    &:nth-child(1) {
      padding-right: 16px;

      @media (max-width: $screen_md) {
        padding-right: 0;
      }
    }

    > p {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }
  
  &__list {
    @include flex();
    flex-wrap: wrap;

    li {
      @include inline_block();
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9296A0;

      &:not(:last-child) {
        margin-right: 4px;

        &:after {
          @include inline_block();
          font-size: inherit;
          line-height: inherit;
          letter-spacing: inherit;
          color: inherit;
          content: ',';
        }
      }
    }
  }

  &__map {
    @include block();
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: $screen_md) {
      width: 100%;
      height: 120px;
      margin-top: 16px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__kod {
    @include block();
    margin-top: 20px;
    background-color: #E8FCEB;
    border-radius: 10px;
    padding: 16px;

    &-title {
      @include block();
      padding-right: 100px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        padding-right: 0;
      } 
    }

    &-value {
      @include block();
      margin-top: 8px;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.02em;
    }
  }

  &__img {
    @include block();
    width: 157px;
    height: 120px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    @media (max-width: 1200px) {
      width: 137px;
      height: 100px;
    }

    @media (max-width: $screen_xl) {
      width: 100%;
      height: 120px;
    } 

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__side {
    @include flex();

    @media (max-width: $screen_xl) {
      flex-direction: column;
    }

    &-box {
       @include flex();
       flex-direction: column;
       align-items: flex-start;

      &:nth-child(1) {
        padding-right: 20px;

        @media (max-width: $screen_xl) {
          padding-right: 0;
          order: 1;
        }
      }

      &:nth-child(2) {
        flex: 1;

        @media (max-width: $screen_xl) {
          order: 0;
          padding-bottom: 20px;
        }
      }
    }

    #{$point}__date {
      margin: 0 0 4px 0;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }

    #{$point}__info {
      margin-bottom: 4px;
    }

    .button {
      margin-top: 6px;

      @media (max-width: $screen_xl) {
        width: 100%;
      }  
    }
  }

  &--big {
    #{$point}__name {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;

      @media (max-width: $screen_md) {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
      } 
    }

    #{$point}__date {
      font-size: 14px;
      line-height: 18px;

      @media (max-width: $screen_md) {
        font-size: 12px;
        line-height: 16px;
      } 
    }

    #{$point}__box {
      > p {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 18px;

        @media (max-width: $screen_md) {
          margin-bottom: 4px;
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    #{$point}__list {
      margin-top: 6px;

      @media (max-width: $screen_md) {
        margin-top: 4px;
      }

      li {
        font-size: 14px;
        line-height: 18px;

        @media (max-width: $screen_md) {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    #{$point}__kod {
      &-title {
        padding-right: 0;
        font-size: 14px;
        line-height: 18px;

        @media (max-width: $screen_md) {
          font-weight: 500;
          font-size: 12px;
          line-height: 16px;
        }
      }

      &-value {
        margin-top: 6px;
        font-size: 30px;
        line-height: 120%;

        @media (max-width: $screen_md) {
          margin-top: 9px;
          font-size: 20px;
          line-height: 26px;
        }
      }
    }
  }
}
