.receptionPoint {
  @include block();

  &__name {
    @include block();
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;

    @media (max-width: $screen_md) {
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
    }
  }

  &__date {
    @include block();
    margin-top: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #9296A0;
  }

  &__cont {
    @include flex();
    justify-content: space-between;
    margin-top: 20px;

    @media (max-width: $screen_md) {
      display: block;
    }
  }

  &__box {
    position: relative;

    &:nth-child(1) {
      padding-right: 16px;

      @media (max-width: $screen_md) {
        padding-right: 0;
      }
    }

    > p {
      margin-bottom: 4px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
    }
  }
  
  &__list {
    @include flex();
    flex-wrap: wrap;

    li {
      @include inline_block();
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #9296A0;

      &:not(:last-child) {
        margin-right: 4px;

        &:after {
          @include inline_block();
          font-size: inherit;
          line-height: inherit;
          letter-spacing: inherit;
          color: inherit;
          content: ',';
        }
      }
    }
  }

  &__map {
    @include block();
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: $screen_md) {
      width: 100%;
      height: 120px;
      margin-top: 16px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__kod {
    @include block();
    margin-top: 20px;
    background-color: #E8FCEB;
    border-radius: 10px;
    padding: 16px;

    &-title {
      @include block();
      padding-right: 100px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.02em;

      @media (max-width: $screen_md) {
        padding-right: 0;
      } 
    }

    &-value {
      @include block();
      margin-top: 8px;
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.02em;
    }
  }
}
