$path_img: '../images/';
$cont: '.container';

$time: 0.15s;
$side: 15px;

$width_max: 1292px;
$width_min: 320px;

$screen_xl: 1180px;
$screen_lg: 890px;
$screen_md: 768px;
$screen_sm: 640px;
$screen_xs: 480px;

$color_dark: #18191B;

$header_height: 70px;
$header_height_mobile: 70px;

$footer_height: 164px;
$footer_height_mobile: 368px;
