<footer class="footer">
       
  <div class="container">

    <div class="footer__row">

      <div class="footer__col">
        <a class="footer__logo" href="index.html"></a>
        <span class="footer__copyright">2022 © Azora.global</span>
      </div>

      <div class="footer__col">

        <div class="footer__menu">
          <span class="footer__menu-title">Навигация</span>
          <ul class="footer__menu-list">
            <li><a href="tariffs.html">Тарифы и цены</a></li>
            <li><a href="contacts.html">Контакты</a></li>
          </ul>
        </div>

        <div class="footer__menu">
          <span class="footer__menu-title">Документы</span>
          <ul class="footer__menu-list">
            <li><a href="#">Правила работы сервиса</a></li>
            <li><a href="#">Отказ от ответственности</a></li>
            <li><a href="#">Политика конфиденциальности</a></li>
          </ul>
        </div>

        <div class="footer__menu">
          <span class="footer__menu-title">Контакты</span>
          <ul class="footer__menu-list">
            <li><a class="footer-phone" href="#">+351 9992 01 34</a></li>
            <li><a class="footer-email" href="#">example@mail.ru</a></li>
          </ul>
        </div>
      
      </div>

    </div>

  </div>

</footer>
