<div class="header @@header">

  <div class="container">

    <div class="header__row">

      <div class="header__col">
        <a class="header__logo" href="index.html"></a>
      </div>

      <div class="header__col">
        <ul class="header__menu">
          <li><a class="@@if (index == 1) {active}" href="tariffs.html">Тарифы и цены</a></li>
          <li><a class="@@if (index == 2) {active}" href="contacts.html">Контакты</a></li> 
        </ul>
      </div>

      <div class="header__col">

        @@if (authorization == 0) {
          <a class="header__entrans" href="#">Войти</a>
        }

        @@if (authorization == 1) {
          <div class="header__popup">
            <span class="header__popup-title">example@mail.ru</span>
            <ul class="header__popup-list">
              <li><a class="header-ic-orders" href="#">Заказы</a></li>
              <li><a class="header-ic-data" href="#">Личные данные</a></li>
              <li><a class="header-ic-exit" href="#">Выйти</a></li>
            </ul>
          </div>
        }

        <a class="button button--min" href="#">Оформить посылку</a>
      </div>

    </div>

  </div>

</div>
