<div class="header">

  <div class="container">

    <div class="header__row">

      <div class="header__col">
        <a class="logo" href="index.html"></a>
      </div>

      <div class="header__col">
        <ul class="header__menu">
          <li><a href="#">Тарифы и цены</a></li>
          <li><a href="#">Контакты</a></li> 
        </ul>
      </div>

      <div class="header__col">

      </div>

    </div>

  </div>

  <div class="header__navMobile">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="header__menuMobile">

  </div>

</div>
